%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.passport'), new_passport_path, class: "btn btn-success"
%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.passport.serial')
      %th= t('activerecord.attributes.passport.number')
      %th
      %th
      %th

  %tbody
    - @passports.each do |passport|
      %tr
        %td= passport.serial
        %td= passport.number
        %td= link_to t('button.show'), passport, class: "btn btn-info"
        %td= link_to t('button.edit'), edit_passport_path(passport), class: "btn btn-warning"
        %td= link_to t('button.destroy'), passport, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"


