%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.passport'), new_passport_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.passport.serial')
      %th= t('activerecord.attributes.passport.number')
      %th= t('activerecord.attributes.passport.passport_type')
      %th= t('activerecord.attributes.passport.language')
      %th= t('activerecord.attributes.passport.translation')
      %th
  %tbody
    - @passports.each do |passport|
      %tr
        %td.passport_name{'data' => {'info' => ["#{params['controller']}", "#{passport.id}"]}}= passport.serial
        %td.passport_name{'data' => {'info' => ["#{params['controller']}", "#{passport.id}"]}}= passport.number
        %td.passport_name{'data' => {'info' => ["#{params['controller']}", "#{passport.id}"]}}= passport.passport_type
        %td.passport_name{'data' => {'info' => ["#{params['controller']}", "#{passport.id}"]}}= passport.language
        %td.passport_name{'data' => {'info' => ["#{params['controller']}", "#{passport.id}"]}}= field(passport.translation)
        %td= link_to t('button.destroy'), passport, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @passports, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1


