%h1= @passport.passport_type

%table.show-table.table-bordered
  %tr
    %td.head= t("activerecord.attributes.passport.serial")
    %td= @passport.serial
  %tr
    %td.head= t("activerecord.attributes.passport.number")
    %td= @passport.number
  %tr
    %td.head= t("activerecord.attributes.passport.language")
    %td= @passport.language
  %tr
    %td.head= t("activerecord.attributes.passport.translation")
    %td= field(@passport.translation)

.buttons
  .item= link_to t('button.edit'), edit_passport_path(@passport), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), passports_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
