= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |message|
          %li= message
          
          
  %div.half-wide
    %ul{'class'=>"nav nav-pills", 'role'=>"tablist"}
      %li{'role'=>"presentation", 'class'=>"active"}
        %a{'href'=>"#base", 'aria-controls'=>"base", "role"=>"tab", "data-toggle"=>"tab"}Базовая информация
      %li{'role'=>"presentation"}
        %a{'href'=>"#docs", 'aria-controls'=>"docs", "role"=>"tab", "data-toggle"=>"tab"}Документы
      %li{'role'=>"presentation"}
        %a{'href'=>"#study-info", 'aria-controls'=>"study-info", "role"=>"tab", 'data-toggle'=>"tab"}Учебная информация
      %li{'role'=>"presentation"}
        %a{'href'=>"#living-info", 'aria-controls'=>"living-info", "role"=>"tab", 'data-toggle'=>"tab"}Информация о проживании
    
    %div{'class'=>"tab-content"}
      %div{'role'=>"tabpanel", 'class'=>"tab-pane active", 'id'=>"base"}
        .form-group.half-wide
          = f.label :passport_id
          = f.text_field :passport_id, class: "form-control"
        .form-group.half-wide
          = f.label :ln
          = f.text_field :ln, class: "form-control"
        .form-group.half-wide
          = f.label :fn
          = f.text_field :fn, class: "form-control"
        .form-group.half-wide
          = f.label :sn
          = f.text_field :sn, class: "form-control"
        .form-group.half-wide
          = f.label :sex
          = f.text_field :sex, class: "form-control"
        .form-group.half-wide
          = f.label :bday
          = f.text_field :bday, class: "form-control", id: 'students_bday_form_datepicker'
        .form-group.half-wide
          = f.label :country_id
          = f.text_field :country_id, class: "form-control"
        .form-group.half-wide
          = f.label :nationality_id
          = f.text_field :nationality_id, class: "form-control"
        .form-group.half-wide
          = f.label :religion_id
          = f.text_field :religion_id, class: "form-control"
      
      %div{'role'=>"tabpanel", 'class'=>"tab-pane", 'id'=>"docs"}
        .form-group
          = f.label :start_date
          = f.text_field :start_date, class: "form-control", id: 'students_start_date_form_datepicker'
        .form-group
          = f.label :finish_date
          = f.text_field :finish_date, class: "form-control", id: 'students_finish_date_form_datepicker'
          
        %div
          = hidden_field_tag(:form_id, :documents)
          = link_to_add_document(f, f.object)      
          = f.fields_for :documents do |fn|
            .panel.panel-info
              .panel-heading
                %span.toright
                  = link_to_remove_document(fn)
                .clearfix
              .panel-body
                .form-group
                  = fn.label :doc_type
                  = fn.text_field :doc_type, class: "form-control"
                .form-group
                  = fn.label :doc_number
                  = fn.text_field :doc_number, class: "form-control"
                .form-group
                  = fn.label :exp_date
                  = fn.text_field :exp_date, class: "form-control", id: 'documents_form_datepicker'
                .form-group
                  = fn.label :language
                  = fn.text_field :language, class: "form-control"
                .form-group
                  = fn.label :translation
                  = fn.text_field :translation, class: "form-control"
      
      %div{'role'=>"tabpanel", 'class'=>"tab-pane", 'id'=>"study-info"}
        .form-group.half-wide
          = f.label :group_id
          = f.text_field :group_id, class: "form-control"
      
      %div{'role'=>"tabpanel", 'class'=>"tab-pane", 'id'=>"living-info"}
        .form-group.half-wide
          = f.label :room_id
          = f.text_field :room_id, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
