%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.student'), new_student_path, class: "btn btn-success"
%table.table.table-striped.table-condensed.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.student.passport')
      %th= t('activerecord.attributes.student.ln')
      %th= t('activerecord.attributes.student.fn')
      %th= t('activerecord.attributes.student.sn')
      %th= t('activerecord.attributes.student.sex')
      %th= t('activerecord.attributes.student.bday')
      %th= t('activerecord.attributes.student.country')
      %th= t('activerecord.attributes.student.nationality')
      %th= t('activerecord.attributes.student.religion')
      %th= t('activerecord.attributes.student.start_date')
      %th= t('activerecord.attributes.student.finish_date')
      %th= t('activerecord.attributes.student.group')
      %th= t('activerecord.attributes.student.room')
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= student.passport.serial + ' ' + student.passport.number
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= student.ln
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= student.fn
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.sn)
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= student.sex
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= student.bday
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= student.country.short_name
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.nationality.name)
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.religion.name)
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.start_date)
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.finish_date)
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.group.name)
        %td.student_name{'data' => {'info' => ["#{params['controller']}", "#{student.id}"]}}= field(student.room.room_number)
        %td= link_to t('button.destroy'), student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

