- a = @student.documents
%h1= "#{@student.ln} #{@student.fn} #{@student.sn}"

%table.show-table.table-bordered
  %tr
    %td.head= t('activerecord.attributes.student.passport')
    %td= link_to "#{@student.passport.serial} #{@student.passport.number}", @student.passport
  %tr
    %td.head= t('activerecord.attributes.student.sex')
    %td= @student.sex
  %tr
    %td.head= t('activerecord.attributes.student.bday')
    %td= @student.bday
  %tr
    %td.head= t('activerecord.attributes.student.country')
    %td= link_to @student.country.short_name, @student.country
  %tr
    %td.head= t('activerecord.attributes.student.nationality')
    %td= link_to @student.nationality.name, @student.nationality
  %tr
    %td.head= t('activerecord.attributes.student.religion')
    %td= link_to @student.religion.name, @student.religion
  %tr
    %td.head= t('activerecord.attributes.student.start_date')
    %td= @student.start_date
  %tr
    %td.head= t('activerecord.attributes.student.finish_date')
    %td= @student.finish_date
  %tr
    %td.head= t('activerecord.attributes.student.group')
    %td= link_to @student.group.name, @student.group
  %tr
    %td.head= t('activerecord.attributes.student.room')
    %td= link_to @student.room.room_number, @student.room

%div{"style" => "margin-top: 5px", "class" => "list-group block"}
  %ul.list-group
    %li.list-group-item.active
      Документы
      %span.badge
        = a.count
    - a.each do |s|
      %li.list-group-item= link_to "#{s.doc_type} #{s.doc_number}", s

.buttons
  .item= link_to t('button.edit'), edit_student_path(@student), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), students_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
