= form_for @speciality do |f|
  - if @speciality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@speciality.errors.count, "error")} prohibited this speciality from being saved:"
      %ul
        - @speciality.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :section_number
    = f.number_field :section_number
  .field
    = f.label :section_name
    = f.text_field :section_name
  .field
    = f.label :group_number
    = f.number_field :group_number
  .field
    = f.label :group_name
    = f.text_field :group_name
  .field
    = f.label :subgroup_number
    = f.text_field :subgroup_number
  .field
    = f.label :subgroup_name
    = f.text_field :subgroup_name
  .field
    = f.label :speciality_code
    = f.text_field :speciality_code
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :edu_prog_code
    = f.text_field :edu_prog_code
  .field
    = f.label :edu_area_code
    = f.text_field :edu_area_code
  .actions
    = f.submit t('button.save'), class: "btn btn-success"
