- a = @speciality.groups
%h1= "#{@speciality.name}"

%table.show-table.table-bordered
  - @speciality.attributes.each do |a|
    - next if a[0] == "id"
    - next if a[0] == "created_at"
    - next if a[0] == "updated_at"
    - next if a[0] == "name"
    - next if a[0] == "speciality_code"
    %tr
      %td.head= t("activerecord.attributes.speciality.#{a[0]}")
      %td= a[1]

%div{"style" => "margin-top: 5px", "class" => "list-group block"}
  %ul.list-group
    %li.list-group-item.active
      Учебные группы
      %span.badge
        = a.count
    - a.each do |s|
      %li.list-group-item= link_to "#{s.name}", s

.buttons
  .item= link_to t('button.edit'), edit_speciality_path(@speciality), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), specialities_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
