= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group.half-wide
    = f.label :speciality_id
    = f.collection_select :speciality_id, Speciality.all, :id, :name, {include_blank: false}, {class: "form-control selectpicker", 'data-live-search'=> "true", 'data-size'=> 10}
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
