%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.group'), new_group_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.group.name')
      %th= t('activerecord.attributes.group.speciality')
      %th

  %tbody
    - @groups.each do |group|
      %tr{onclick:"location.href='#{params['controller']}/#{group.id}'"}
        %td= group.name
        %td= group.speciality.speciality_code + " " + group.speciality.name
        %td= link_to t('button.destroy'), group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
