%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.group'), new_group_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.group.name')
      %th= t('activerecord.attributes.group.speciality')
      %th Количество студентов
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td.group_name{'data' => {'info' => ["#{params['controller']}", "#{group.id}"]}}= group.name
        %td.group_name{'data' => {'info' => ["#{params['controller']}", "#{group.id}"]}}= group.speciality.speciality_code + " " + group.speciality.name
        %td.group_name{'data' => {'info' => ["#{params['controller']}", "#{group.id}"]}}= group.students.count
        %td= link_to t('button.destroy'), group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
