%h1 Домашняя страница
%table
  %tbody
    %tr.home-tr
      %td
        = link_to t('title.countries'), countries_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Country.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.specialities'), specialities_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Speciality.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.nationalities'), nationalities_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Nationality.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.religions'), religions_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Religion.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.passports'), passports_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Passport.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.national_holidays'), national_holidays_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{NationalHoliday.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.religion_holidays'), religion_holidays_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{ReligionHoliday.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.groups'), groups_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Group.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.hostels'), hostels_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Hostel.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.floors'), floors_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Floor.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.rooms'), rooms_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Room.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.students'), students_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Student.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.referrals'), referrals_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Referral.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.documents'), documents_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Document.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.educations'), educations_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Education.all.count}"
%br
%ul.list-group.w-500
  %li.list-group-item.list-group-item-warning Сделать
  %li.list-group-item.list-group-item new/edit для студентов
  %li.list-group-item.list-group-item выбор ссылки для связи во всех представлениях сделать в виде поля с автозаполнением
  %li.list-group-item.list-group-item datepicker
%br
%ul.list-group.w-500
  %li.list-group-item.list-group-item-danger Вопросы
  %li.list-group-item.list-group-item row (?)
  %li.list-group-item.list-group-item сортировка данных по нажатию шапки в таблице
  %li.list-group-item.list-group-item фиксированная шапка таблицы
  %li.list-group-item.list-group-item уникальность удостоверения личности у студента
%br
%ul.list-group.w-500
  %li.list-group-item.list-group-item-info Что нового?
  %li.list-group-item.list-group-item-success Теперь в index всех сущностей посмотреть запись можно клинув на ней в таблице
  %li.list-group-item.list-group-item-warning Небольшое исправление seed: специальность направления на обучения теперь совпадает со специальностью студента
  %li.list-group-item.list-group-item-warning Переработаны представления всех таблиц
  %li.list-group-item.list-group-item-warning show для таблицы Студенты оформлен в виде вкладок
  %li.list-group-item.list-group-item-warning seed переработан для отображения более подробной информации о студентах





