%h1 Домашняя страница
%table
  %tbody
    %tr.home-tr
      %td
        = link_to t('title.countries'), countries_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Country.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.specialities'), specialities_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Speciality.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.nationalities'), nationalities_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Nationality.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.religions'), religions_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Religion.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.passports'), passports_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Passport.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.national_holidays'), national_holidays_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{NationalHoliday.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.religion_holidays'), religion_holidays_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{ReligionHoliday.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.groups'), groups_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Group.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.hostels'), hostels_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Hostel.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.floors'), floors_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Floor.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.rooms'), rooms_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Room.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.students'), students_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Student.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.referrals'), referrals_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Referral.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.documents'), documents_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Document.all.count}"
    %tr.home-tr
      %td
        = link_to t('title.educations'), educations_path, class: "btn btn-primary wide"
      %td.home-td
        = "Количество записей: #{Education.all.count}"
        
%br
%ul.list-group.w-500
  %li.to_do_head.list-group-item.list-group-item-warning Сделать
  %li.to_do_body.list-group-item.list-group-item выбор ссылки для связи во всех представлениях сделать в виде поля с автозаполнением
  %li.to_do_body.list-group-item.list-group-item пагинация таблиц в index
  %li.to_do_body.list-group-item.list-group-item exp_date для удостоверения личности
  %li.to_do_body.list-group-item.list-group-item exp_date для документа об образовании
%br
%ul.list-group.w-500
  %li.questions_head.list-group-item.list-group-item-danger Вопросы
  %li.questions_body.list-group-item.list-group-item row (?)
  
%br
%ul.list-group.w-500
  %li.new_head.list-group-item.list-group-item-info Что нового?
  %li.new_body.list-group-item.list-group-item-warning форма для таблицы Студенты оформлена в виде вкладок
  %li.new_body.list-group-item.list-group-item-success datepicker
