= form_for @religion do |f|
  - if @religion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@religion.errors.count, "error")} prohibited this religion from being saved:"
      %ul
        - @religion.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :name
    = f.text_field :name, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
