%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.religion'), new_religion_path, class: "btn btn-success"
%table.my-table.table-striped.table-condensed.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.religion.name')
      %th

  %tbody
    - @religions.each do |religion|
      %tr
        %td.religion_name{'data' => {'info' => ["#{params['controller']}", "#{religion.id}"]}}= religion.name
        %td= link_to t('button.destroy'), religion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @religions, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1
