%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.religion'), new_religion_path, class: "btn btn-success"
%table.my-table.table-striped.table-condensed.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.religion.name')
      %th

  %tbody
    - @religions.each do |religion|
      %tr{"onclick" => "location.href='#{params['controller']}/#{religion.id}'"}
        %td= religion.name
        %td= link_to t('button.destroy'), religion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

