- a = @religion.religion_holidays
%h1= @religion.name

.list-group.block
  %ul.list-group
    %li.list-group-item.active
      Праздники
      %span.badge
        = a.count
    - a.each do |s|
      %li.list-group-item= link_to "#{s.date} - #{s.name}", s

.buttons
  .item= link_to t('button.edit'), edit_religion_path(@religion), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), religions_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
