= form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :student_id
    = f.select :student_id, options_for_select(student_options, f.object.student_id), {include_blank: false}, {class: "form-control selectpicker", 'data-live-search'=> "true", 'data-size'=> 10}
  .form-group.half-wide
    = f.label :doc_type
    = f.text_field :doc_type, class: "form-control"
  .form-group.half-wide
    = f.label :doc_number
    = f.text_field :doc_number, class: "form-control"
  .form-group.half-wide
    = f.label :exp_date
    = f.text_field :exp_date, class: "form-control", id: 'documents_form_datepicker'
  .form-group.half-wide
    = f.label :language
    = f.text_field :language, class: "form-control"
  .form-group.half-wide
    = f.label :translation
    = f.text_field :translation, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
