%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.document'), new_document_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.document.student')
      %th= t('activerecord.attributes.document.doc_type')
      %th= t('activerecord.attributes.document.doc_number')
      %th= t('activerecord.attributes.document.exp_date')
      %th= t('activerecord.attributes.document.language')
      %th= t('activerecord.attributes.document.translation')
      %th

  %tbody
    - @documents.each do |document|
      %tr
        %td.document_name{'data' => {'info' => ["#{params['controller']}", "#{document.id}"]}}= sname_full(document.student)
        %td.document_name{'data' => {'info' => ["#{params['controller']}", "#{document.id}"]}}= document.doc_type
        %td.document_name{'data' => {'info' => ["#{params['controller']}", "#{document.id}"]}}= document.doc_number
        %td.document_name{'data' => {'info' => ["#{params['controller']}", "#{document.id}"]}}= document.exp_date
        %td.document_name{'data' => {'info' => ["#{params['controller']}", "#{document.id}"]}}= document.language
        %td.document_name{'data' => {'info' => ["#{params['controller']}", "#{document.id}"]}}= field(document.translation)
        %td= link_to t('button.destroy'), document, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @documents, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1
