%h1= "#{@document.doc_type} #{@document.doc_number}"

%table.show-table.table-bordered
  %tr
    %td.head= t('activerecord.attributes.document.student')
    %td= link_to "#{@document.student.ln} #{@document.student.fn} #{@document.student.sn}", @document.student
  %tr
    %td.head= t('activerecord.attributes.document.exp_date')
    %td= @document.exp_date
  %tr
    %td.head= t('activerecord.attributes.document.language')
    %td= @document.language
  %tr
    %td.head= t('activerecord.attributes.document.translation')
    %td= @document.translation
  
.buttons
  .item= link_to t('button.edit'), edit_document_path(@document), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), documents_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
