= form_for @referral do |f|
  - if @referral.errors.any?
    #error_explanation
      %h2= "#{pluralize(@referral.errors.count, "error")} prohibited this referral from being saved:"
      %ul
        - @referral.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :student_id
    = f.text_field :student_id, class: "form-control"
  .form-group.half-wide
    = f.label :referral_number
    = f.text_field :referral_number, class: "form-control"
  .form-group.half-wide
    = f.label :date
    = f.date_select :date, class: "form-control"
  .form-group.half-wide
    = f.label :speciality_id
    = f.text_field :speciality_id, class: "form-control"
  .form-group.half-wide
    = f.label :payment
    = f.number_field :payment, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
