%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.referral'), new_referral_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.referral.student')
      %th= t('activerecord.attributes.referral.referral_number')
      %th= t('activerecord.attributes.referral.date')
      %th= t('activerecord.attributes.referral.speciality')
      %th= t('activerecord.attributes.referral.payment')
      %th
  %tbody
    - @referrals.each do |referral|
      %tr
        %td.referral_name{'data' => {'info' => ["#{params['controller']}", "#{referral.id}"]}}= sname_full(referral.student)
        %td.referral_name{'data' => {'info' => ["#{params['controller']}", "#{referral.id}"]}}= referral.referral_number
        %td.referral_name{'data' => {'info' => ["#{params['controller']}", "#{referral.id}"]}}= referral.date
        %td.referral_name{'data' => {'info' => ["#{params['controller']}", "#{referral.id}"]}}= referral.speciality.name
        %td.referral_name{'data' => {'info' => ["#{params['controller']}", "#{referral.id}"]}}= referral.payment
        %td= link_to t('button.destroy'), referral, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @referrals, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1
