= form_for @floor do |f|
  - if @floor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@floor.errors.count, "error")} prohibited this floor from being saved:"
      %ul
        - @floor.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :hostel_id
    = f.collection_select :hostel_id, Hostel.all, :id, :name, {include_blank: false}, {class: "form-control selectpicker", 'data-live-search'=> "true", 'data-size'=> 10}
  .form-group.half-wide
    = f.label :floor_number
    = f.number_field :floor_number, class: "form-control"
  .form-group.half-wide
    = f.label :rooms_count
    = f.number_field :rooms_count, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
