%h1= t("controller.#{params['controller']}.#{params["action"]}")

= render 'form'

= link_to t('button.show'), @floor, class: "btn btn-info"
\|
= link_to t('button.back'), floors_path, class: "btn btn-danger"
