%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.floor'), new_floor_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.floor.hostel')
      %th= t('activerecord.attributes.floor.floor_number')
      %th= t('activerecord.attributes.floor.rooms_count')
      %th

  %tbody
    - @floors.each do |floor|
      %tr
        %td.floor_name{'data' => {'info' => ["#{params['controller']}", "#{floor.id}"]}}= floor.hostel.name
        %td.floor_name{'data' => {'info' => ["#{params['controller']}", "#{floor.id}"]}}= floor.floor_number
        %td.floor_name{'data' => {'info' => ["#{params['controller']}", "#{floor.id}"]}}= floor.rooms_count
        %td= link_to t('button.destroy'), floor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @floors, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1
