- a = @floor.rooms
%h1= "#{@floor.hostel.name}. Этаж #{@floor.floor_number}"

%table.show-table.table-bordered
  %tr
    %td.head Общежитие
    %td= link_to @floor.hostel.name, @floor.hostel
  %tr
    %td.head= t("activerecord.attributes.floor.rooms_count")
    %td= @floor.rooms_count

%div{"style" => "margin-top: 5px", "class" => "list-group block"}
  %ul.list-group
    %li.list-group-item.active
      Комнаты
      %span.badge
        = a.count
    - a.each do |s|
      %li.list-group-item= link_to "#{s.room_number}", s

.buttons
  .item= link_to t('button.edit'), edit_floor_path(@floor), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), floors_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
