= form_for @national_holiday do |f|
  - if @national_holiday.errors.any?
    #error_explanation
      %h2= "#{pluralize(@national_holiday.errors.count, "error")} prohibited this national_holiday from being saved:"
      %ul
        - @national_holiday.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group.half-wide
    = f.label :date
    %input{'type'=>'text', 'class'=>"form-control", 'id'=>'national_holidays_form_datepicker', 'name'=>'national_holiday[date]'}
  .form-group.half-wide
    = f.label :nationality_id
    = f.collection_select :nationality_id, Nationality.all, :id, :name, {include_blank: true}, {class: "form-control selectpicker", 'data-live-search'=> "true", 'data-size'=> 10s
        }
    -#= f.text_field :nationality_id, class: "form-control nationality_field"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
