%p#notice= notice
%h1= t("controller.#{params['controller']}.#{params["action"]}")

%p
  %b= t('activerecord.attributes.national_holiday.name') + ':'
  = @national_holiday.name
%p
  %b= t('activerecord.attributes.national_holiday.date') + ':'
  = @national_holiday.date
%p
  %b= t('activerecord.attributes.national_holiday.nationality') + ':'
  = @national_holiday.nationality.name

= link_to t('button.edit'), edit_national_holiday_path(@national_holiday), class: "btn btn-warning"
\|
= link_to t('button.back'), national_holidays_path, class: "btn btn-danger"
