%h1= @national_holiday.name

%table.show-table.table-bordered
  %tr
    %td.head= t("activerecord.attributes.national_holiday.date")
    %td= ru_day_month(@national_holiday.date)
  %tr
    %td.head= t("activerecord.attributes.national_holiday.nationality")
    %td= link_to @national_holiday.nationality.name, @national_holiday.nationality

.buttons
  .item= link_to t('button.edit'), edit_national_holiday_path(@national_holiday), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), national_holidays_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
