= form_for @student_left do |f|
  - if @student_left.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student_left.errors.count, "error")} prohibited this student_left from being saved:"
      %ul
        - @student_left.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :nationality_id
    = f.text_field :nationality_id
  .field
    = f.label :religion_id
    = f.text_field :religion_id
  .field
    = f.label :country_id
    = f.text_field :country_id
  .field
    = f.label :age
    = f.number_field :age
  .field
    = f.label :speciality_id
    = f.text_field :speciality_id
  .field
    = f.label :edu_level
    = f.text_field :edu_level
  .field
    = f.label :payment
    = f.text_field :payment
  .field
    = f.label :sex
    = f.text_field :sex
  .actions
    = f.submit 'Save'
