%h2= t('title.log_in')

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.half-wide
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, class: "form-control"

  .field.half-wide
    = f.label :password
    %br
    = f.password_field :password, autocomplete: "off", class: "form-control"

  - if devise_mapping.rememberable?
    .field.half-wide
      = f.check_box :remember_me
      = f.label :remember_me

  .actions
    = f.submit t("button.log_in"), class: "btn btn-success"

%p
  = render "devise/shared/links"
