= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :room_number
    = f.text_field :room_number
  .field
    = f.label :place_count
    = f.number_field :place_count
  .field
    = f.label :floor_id
    = f.text_field :floor_id
  .actions
    = f.submit t('button.save'), class: "btn btn-success"
