%h1= t("controller.#{params['controller']}.#{params["action"]}")

= render 'form'

.buttons
  .item= link_to t("button.to.#{params['controller']}"), rooms_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
