- a = @room.students
%h1= @room.room_number

%table.show-table.table-bordered
  %tr
    %td.head= t("activerecord.attributes.room.place_count")
    %td= @room.place_count
  %tr
    %td.head= t("activerecord.attributes.room.floor")
    %td= link_to @room.floor.hostel.name + ". Этаж " + @room.floor.floor_number.to_s, @room.floor

%div{"style" => "margin-top: 5px", "class" => "list-group block"}
  %ul.list-group
    %li.list-group-item.active
      Студенты
      %span.badge
        = a.count
    - a.each do |s|
      %li.list-group-item= link_to "#{s.ln} #{s.fn} #{s.sn}", s

.buttons
  .item= link_to t('button.edit'), edit_room_path(@room), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), rooms_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
