= form_for @country do |f|
  - if @country.errors.any?
    #error_explanation
      %h2= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"
      %ul
        - @country.errors.full_messages.each do |message|
          %li= message
  
  .form-group.half-wide
    = f.label :short_name
    = f.text_field :short_name, class: "form-control"
  .form-group.half-wide
    = f.label :long_name
    = f.text_field :long_name, class: "form-control"
  .form-group.half-wide
    = f.label :alpha2
    = f.text_field :alpha2, class: "form-control"
  .form-group.half-wide
    = f.label :alpha3
    = f.text_field :alpha3, class: "form-control"
  .form-group.half-wide
    = f.label :country_code
    = f.text_field :country_code, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
