%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.country'), new_country_path, class: "btn btn-success"
%table.table.table-striped.table-condensed.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.country.short_name')
      %th= t('activerecord.attributes.country.long_name')
      %th= t('activerecord.attributes.country.alpha2')
      %th= t('activerecord.attributes.country.alpha3')
      %th= t('activerecord.attributes.country.country_code')
      %th

  %tbody
    - @countries.each do |country|
      %tr
        %td.country_name{'data' => {'info' => ["#{params['controller']}", "#{country.id}"]}}= country.short_name
        %td.country_name{'data' => {'info' => ["#{params['controller']}", "#{country.id}"]}}= country.long_name
        %td.country_name{'data' => {'info' => ["#{params['controller']}", "#{country.id}"]}}= country.alpha2
        %td.country_name{'data' => {'info' => ["#{params['controller']}", "#{country.id}"]}}= country.alpha3
        %td.country_name{'data' => {'info' => ["#{params['controller']}", "#{country.id}"]}}= country.country_code
        %td= link_to t('button.destroy'), country, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
