%h1= @country.short_name

%table.show-table.table-bordered
  - @country.attributes.each do |a|
    - next if a[0] == "id"
    - next if a[0] == "created_at"
    - next if a[0] == "updated_at"
    - next if a[0] == "short_name"
    %tr
      %td.head= t("activerecord.attributes.country.#{a[0]}")
      %td= a[1]

.buttons
  .item= link_to t('button.edit'), edit_country_path(@country), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), countries_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
