= form_for @religion_holiday do |f|
  - if @religion_holiday.errors.any?
    #error_explanation
      %h2= "#{pluralize(@religion_holiday.errors.count, "error")} prohibited this religion_holiday from being saved:"
      %ul
        - @religion_holiday.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :religion
    = f.text_field :religion
  .actions
    = f.submit t('button.save'), class: "btn btn-success"
