= form_for @religion_holiday do |f|
  - if @religion_holiday.errors.any?
    #error_explanation
      %h2= "#{pluralize(@religion_holiday.errors.count, "error")} prohibited this religion_holiday from being saved:"
      %ul
        - @religion_holiday.errors.full_messages.each do |message|
          %li= message

  .form-group.half-wide
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group.half-wide
    = f.label :date
    %input{'type'=>'text', 'class'=>"form-control", 'id'=>'religion_holidays_form_datepicker', 'name'=>'religion_holiday[date]'}
  .form-group.half-wide
    = f.label :religion_id
    = f.text_field :religion_id, class: "form-control"
  .actions.submit-button
    = f.submit t('button.save'), class: "btn btn-success"
