%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.religion_holiday'), new_religion_holiday_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.religion_holiday.name')
      %th= t('activerecord.attributes.religion_holiday.date')
      %th= t('activerecord.attributes.religion_holiday.religion')
      %th

  %tbody
    - @religion_holidays.each do |religion_holiday|
      %tr
        %td.religion_holiday_name{'data' => {'info' => ["#{params['controller']}", "#{religion_holiday.id}"]}}= religion_holiday.name
        %td.religion_holiday_name{'data' => {'info' => ["#{params['controller']}", "#{religion_holiday.id}"]}}= religion_holiday.date
        %td.religion_holiday_name{'data' => {'info' => ["#{params['controller']}", "#{religion_holiday.id}"]}}= religion_holiday.religion.name
        %td= link_to t('button.destroy'), religion_holiday, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @religion_holidays, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1
