%h1= @religion_holiday.name

%table.show-table.table-bordered
  %tr
    %td.head= t("activerecord.attributes..religion_holiday.date")
    %td= @religion_holiday.date
  %tr
    %td.head= t("activerecord.attributes..religion_holiday.religion")
    %td= link_to @religion_holiday.religion.name, @religion_holiday.religion

.buttons
  .item= link_to t('button.edit'), edit_religion_holiday_path(@religion_holiday), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), religion_holidays_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
