%h1= t("controller.#{params['controller']}.#{params["action"]}")

= render 'form'

= link_to t('button.show'), @education, class: "btn btn-info"
\|
= link_to t('button.back'), educations_path, class: "btn btn-danger"
