%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.education'), new_education_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.education.student')
      %th= t('activerecord.attributes.education.edu_level')
      %th= t('activerecord.attributes.education.language')
      %th= t('activerecord.attributes.education.translation')
      %th

  %tbody
    - @educations.each do |education|
      %tr
        %td.education_name{'data' => {'info' => ["#{params['controller']}", "#{education.id}"]}}= sname_full(education.student)
        %td.education_name{'data' => {'info' => ["#{params['controller']}", "#{education.id}"]}}= education.edu_level
        %td.education_name{'data' => {'info' => ["#{params['controller']}", "#{education.id}"]}}= education.language
        %td.education_name{'data' => {'info' => ["#{params['controller']}", "#{education.id}"]}}= field(education.translation)
        %td= link_to t('button.destroy'), education, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

= will_paginate @educations, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: "Следующая", inner_window: 1, outer_window: 1
