- a = NationalHoliday.where(nationality_id: @nationality.id).all
%h1= @nationality.name

.list-group.block
  %ul.list-group
    %li.list-group-item.active
      Праздники
      %span.badge
        = a.count
    - a.each do |s|
      %li.list-group-item= link_to "#{ru_day_month(s.date)} - #{s.name}", s

.buttons
  .item= link_to t('button.edit'), edit_nationality_path(@nationality), class: "btn btn-warning"
  .item= link_to t("button.to.#{params['controller']}"), nationalities_path, class: "btn btn-danger"
  .item= link_to t('button.back'), :back, class: "btn btn-danger-my-outline"
