%h1= t("controller.#{params['controller']}.#{params["action"]}")
= link_to t('button.new.hostel'), new_hostel_path, class: "btn btn-success"
%table.my-table.table-striped.my-table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.hostel.name')
      %th= t('activerecord.attributes.hostel.address')
      %th= t('activerecord.attributes.hostel.floors_count')
      %th

  %tbody
    - @hostels.each do |hostel|
      %tr{"onclick" => "location.href='#{params['controller']}/#{hostel.id}'"}
        %td= hostel.name
        %td= hostel.address
        %td= hostel.floors_count
        %td= link_to t('button.destroy'), hostel, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
