!!!
%html{lang: 'ru'}
  %head
  %title= t("controller.#{params['controller']}.#{params['action']}")
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
  %meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    %div#top-bar
      %div#tb-home
        - if params['controller'] != 'welcome'
          = link_to 'На главную', welcome_index_path, class: "btn btn-primary"
    
      %div#tb-session
        - if user_signed_in?
          %span= link_to current_user.email, edit_user_registration_path, class: "btn btn-light-my-outline"
          -# = link_to t('Сменить пароль'), edit_user_password_path, :method => :get , class: "btn btn-warning"
          = link_to "Выйти", destroy_user_session_path, :method => :delete, class: "btn btn-danger submit-button"
        - else
          - if params['controller'] != 'devise/sessions'
            = link_to t('title.devise/sessions'), new_user_session_path, class: "btn btn-success"
          
    - if notice
      %div.notice.my-notice-default= "#{notice} (#{notice.class})"
    - elsif alert
      %div.alert.my-notice-default= "#{alert} (#{alert.class})"
    
    -#%div.notice= notice
    = yield
